<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="stacked"
        type="email"
        [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Contraseña"
        labelPlacement="stacked"
        type="password"
        [(ngModel)]="password">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="login()">
    Ingresar
  </ion-button>
  <ion-button fill="clear" (click)="goRegister()">
  Crear nueva cuenta
</ion-button>


  <p style="color:red; margin-top:10px;">
    {{ errorMsg }}
  </p>

</ion-content>
